body{
    font-family: 'Do Hyeon', sans-serif;
}
.top-right-nav{
    float: right;
}
.top-right-nav a{
    text-decoration: none;
    color: black;
    margin: 10px;
}
.text-size{
    font-size: 25px;
    margin-left: 100px;
    margin-top: 100px;
}
.half-width{
    width: 40%;
    float: left;
}
.name-highlights{
    color: blue;
}
.link-button{
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
    background-color: yellow;
    padding: 8px 16px;
    border-style: solid;
    font-weight: normal;
    font-size: large;
}
.img1-size{
    height: 500px;
    width: 500px;
}
p{
    color: rgb(47, 47, 47);
}
.text-position{
    position: absolute;
    top: 2285px;
    left: 200px;
    font-size: 50px;
    color: white;
}
#bottom-img-style{
      width: 80%;
      margin-left: 125px;
}
#hyperlink-position{
    position: absolute;
    top: 2280px;
    left: 1000px;
    font-size: 20px;
    padding: 5px;
}
#footer-posi{
      text-align: center;
}
.icon-size{
      height: 30px;
      width: 30px;
}
.space-in-between-icons{
      margin: 7px 7px 7px 7px;
}
*{
      box-sizing: border-box;
}
.column{
    border-radius: 20px;
    border-color: white;
    background-color: white;
    float: left;
    width: 30%;
    margin: 10px;
    padding: 10px;
}
.img-posi{
    float: left;
    background-color: rgb(238, 238, 238);
    padding-bottom: 100px;
}
#title-posi{
    text-align: center;
    font-size: 30px;
    margin-right: 70px;
}
.width-set{
    width: 40%;
    float: left;
}
.img3-size{
    margin-top: 50px; 
    height: 500px;
    width: 500px;
}
#id1{
    border left: 5px solid cyan;
    box-shadow: 10px 10px 50px blue;
    height: 60%;
    background-color:rgb(231, 231, 231);
    border-radius: 20px;
}
.projects-heading{
    font-size: 25px;
    text-decoration: none;
    color: black;
}